* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --textcolor: #f7f7f7;
    --background-color: #3c40c6;
}

body {
    font-size: 20px;
    background-color: var(--background-color);
    background-image: url(./img/stars-opacity.0979c1.svg);
}

.text-color {
    color: var(--textcolor);
}

/*...........................................................................*/
.palettes-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10em 0em;
}

.palettes-container__element {
    padding: 0.3em;
    text-transform: uppercase;
}

.show-time {
    padding: 1em 0em;
}

.control-time {
    padding: 1em 3em;
    margin: 10px;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    color: var(--background-color);
    font-weight: 900;
}